header {
    background-color: rgb(18, 18, 62);
    color: white;
    text-align: center;
    padding-top: 15px;
    height: 80px;
}

body {
    background-color: rgb(0, 0, 33);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
    height: 30vh;
    opacity: 0.5;
}

.image-container {
    width: 30%;
    padding-right: 10px;
    height: 100%;
    float: left;
}

.image {
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: 70%;
}

.text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 1;
}

.card.right {
    flex-direction: row-reverse; /* Change from row to row-reverse */
}

.card.right .image-container {
    float: right; /* Change from left to right */
    padding-left: 0; /* Remove padding from the left */
    padding-right: 10px; /* Add padding to the right */
}

.card.right .text-container {
    text-align: right; /* Change from left to right */
}